@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f6f7f5;
  color: #14201a;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f6f7f5;
}

::-webkit-scrollbar-thumb {
  background: #0f9d6b;
  border-radius: 4px;
}
